<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20722703459-bb8lnfpgj83fuao2sn48ugv7jr7urpol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20722703459-bb8lnfpgj83fuao2sn48ugv7jr7urpol</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>20722703459-k8j2iembrigqbb4r9gjkmug6lf0ki7a1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpAHxp52cyLTuYOZFbyvdtQEHO4LSkzl8</string>
	<key>GCM_SENDER_ID</key>
	<string>20722703459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoyogames.yygfirebase</string>
	<key>PROJECT_ID</key>
	<string>yoyoplayservices-13954376</string>
	<key>STORAGE_BUCKET</key>
	<string>yoyoplayservices-13954376.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20722703459:ios:c971faf74c710b9b0eac56</string>
	<key>DATABASE_URL</key>
	<string>https://yoyoplayservices-13954376-default-rtdb.firebaseio.com</string>
</dict>
</plist>